{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
{% include "site_template/top-stats.html" %}
<iframe src="http://192.168.29.152:5601/app/kibana#/dashboard/0e8d3f50-7be0-11ea-b930-7b49785e1320?_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-7d%2Cto%3Anow))" frameborder="0" style="overflow:hidden; display:block; position: absolute; height: 100%; width: 100%"></iframe>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
